* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.homeCont,
.loginCont,
.contactCont,
.singleCont {
  background-image: url(../src/Images/pexels-karolina-grabowska-4862892.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 200px;
  margin: 0;
  text-align: center;
}
h1 {
  font-size: 70px;
  font-weight: 800;
  text-shadow: 0px 10px 10px rgb(0 0 0 / 50%);
}
h2 {
  font-size: 30px;
  font-weight: 700;
  text-shadow: 0px 10px 10px rgb(0 0 0 / 50%);
}
.grey {
  color: rgb(86, 84, 84);
  text-shadow: none;
}

/* SingleProductcomponent */
.btnSingleProduct {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  padding: 5px 25px;
  width: 40%;
  margin: 10px auto;
}
.part {
  width: 50%;
  margin: 0 auto;
}
.link-btn {
  text-decoration: none;
  color: #ffffff;
}
.productsImg {
  max-height: 100px;
  width: 100%;
  margin: 0 auto;
}

.category {
  font-size: 20px;
  color: rgb(86, 84, 84);
  font-variant-caps: all-petite-caps;
  font-weight: 400;
}
.singleBox {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 80px;
}
.singT {
  width: 100%;
  max-height: 300px;
}
/* HomeComponent */
.header {
  text-align: right;
  width: 60%;
  margin: 0 auto;
}
textBox {
  text-align: left;
}
/* ShopCopomponet */
.hederShop {
  width: 60%;
  margin: 23px auto;
  text-align: center;
}
.card-title {
  font-size: 25px;
  font-weight: 400;
  color: rgb(86, 84, 84);
}

.contactForm {
  width: 60%;
  margin: 0 auto;
}
.mb-3 {
  text-align: left;
}
.part1 {
  width: 30%;
  text-align: left;
  padding: 30px;
  font-size: 20px;
  margin: 5px;
}

.box {
  display: inline;
  margin: 50px 0;
}
/* Navcomponent */
.social-link {
  color: white;
  margin: 10px;
}
.lista {
  width: 100%;
}
li {
  padding: 0 20px;
}
.linkNav,
.footerCon {
  color: white;
  font-size: 18px;
}
.linknav:hover {
  color: white;
  background-color: rgb(86, 84, 84);
}
.navCont,
.footerCon {
  padding: 15px;
  background-color: rgb(43, 43, 43);
}
.bag-qoantity {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 20px;
  background-color: red;
  border-radius: 50%;
  font-size: 12px;
  font-weight: 600;
}
/* FooterComponent */
.footer-social-icon,
.copy {
  display: flex;
  width: 15%;
  margin: 0 auto;
  padding: 0 22px;
}
/* NotFoundcomponent */
.NotFound {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(86, 84, 84);
  font-size: 30px;
  min-height: 500px;
}
/* Cartcomponent */
.cartBox {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  width: 28%;
  margin: 15px auto;
  font-size: 12px;
  max-height: 400px;
}
.cartBox:hover {
  box-shadow: 0px 10px 10px rgba(50, 82, 179, 0.5);
}
.allCard {
  padding: 20px;
  margin: 50px auto;
  width: 90%;
}
.cartContainer {
  width: 95%;
  margin: 10px auto;
}
.cartlink {
  color: white;
  text-decoration: none;
  display: flex;
}
.cart-product {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 10px auto;
  text-align: center;
}

.buttonQ {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 50px auto;
}
.card-text {
  font-size: 12px;
}
.img-thum {
  width: 100%;
}
.remove-btn {
  align-items: center;
  margin: 10px auto;
  width: 10%;
  padding: 20px;
}
.end-cart {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.cart-summary,
.totalEnd,
.continue-shopping {
  width: 33%;
  margin: 20px 0;
}
.continue-shopping {
  text-align: center;
}
.totalEnd {
  text-align: right;
  padding-right: 20px;
}
.totalPrice {
  font-size: 20px;
  margin-top: 50px;
  text-align: center;
}
.price1 {
  font-size: 20px;
  margin-top: 20px;
  text-align: center;
  margin-top: 50px;
}
.h-cart {
  text-align: center;
}
.start-shopping,
.continue-shopping,
.card-link {
  color: red;
  text-align: none;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
}
.addTo {
  align-items: center;
  margin: 5px;
  width: 100%;
}
.cartEmpty {
  width: 35%;
  margin: 80px auto;
  padding: 80px;
  font-size: 25px;
  text-align: center;
}
.allOfCart {
  box-shadow: 0px 10px 10px rgb(0 0 0 / 50%);
}
/* Shop */
.loading {
  font-size: 30px;
  padding: 100px;
  text-align: center;
  margin: 100px auto;
  width: 40%;
}
.h-product {
  text-align: center;
  margin: 50x;
  padding: 50px;
}
.Search {
  width: 50%;
  margin: 0 auto;
}
.search-in {
  width: 100%;
  padding: 5px;
  border-radius: 20px;
  border: none;
  font-size: 20px;
  box-shadow: 0px 10px 10px rgb(0 0 0 / 70%);
}
.img-price {
  display: flex;
}
.cartIn {
  min-height: 300px;
}
.price-shop {
  padding: 30px;
  text-align: center;
  width: 50%;
  color: red;
}
.imgProduct {
  width: 50%;
}
.photo {
  width: 20%;
  padding: 5px;
  max-height: 100px;
  vertical-align: top;
}
.btnAdd {
  margin: 5% auto;
  width: 80%;
}
/* Login */
.default-login {
  font-size: 10px;
}
.loginFrom {
  width: 50%;
  font-size: 18px;
  margin: 0 auto;
}
