@media screen and (min-width: 320px) and (max-width: 767px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  /* Homecomponent */
  .homeCont,
  .loginCont,
  .contactCont,
  .singleCont {
    background-image: url(../src/Images/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 10px;
    margin: 0;
  }
  .header {
    width: 100%;
    margin: 0;
    padding: 150px 35px;
    display: block;
    align-items: center;
  }
  h1 {
    font-size: 50px;
    font-weight: 600;
    text-shadow: 0px 10px 10px rgb(0 0 0 / 50%);
  }
  h2 {
    font-size: 20px;
    font-weight: 500;
    text-shadow: 0px 10px 10px rgb(0 0 0 / 50%);
  }
  /* Navcomponent */

  .mob-ul {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .liMob {
    padding: 2px;
    margin: 0px auto;
    text-align: center;
  }
 
  .mob-ul {
    margin: 0;
    padding: 0;
  }
  .mob-ul {
    display: block;
    text-align: center;
  }

  .linkNav {
    font-size: 15px;
    padding: 0;
    margin: 0;
  }
  /* Footercomponent */
  .footer-social-icon {
    width: 50%;
    margin: 0 auto;
    align-items: center;
  }
  .social-icons{
    align-items: center;
  }
  .copy {
    margin: 0 auto;
    align-items: center;
    width: 35%;
    font-size: 15px;
    text-align: center;
  }
  /* Shopcomponet */
  .allCard {
    display: block;
    width: 100%;
    margin: 10px auto;
  }
  .cartBox {
    width: 80%;
    margin: 10px auto;
    max-height: 500px
  }
  .Search {
    width: 70%;
    margin: 0 auto;
  }
  .loading {
    width: 100%;
  }
  /* SingleProductcomponent */
  .singleBox {
    display: block;
    margin: 10px auto;
    padding: 20px;
    text-align: center;
  }
  .textBox {
    width: 80%;
    margin: 20px auto;
    text-align: center;
  }
  .box {
    display: block;
    width: 60%;
    margin: 10px auto;
  }
  .photo {
    width: 100%;
  }
  /* Contactcomponenet */
  .contact-mob-text {
    width: 80%;
    padding: 20px;
    font-size: 20px;
    margin: 10px auto;
  }
  .contactForm {
    width: 90%;
    padding: 10px;
    margin: 0 auto;
  }
  
  /* Logincomponent */
  .loginFrom{
    margin-top: 100px;
    width: 100%;
    padding: 20px;
  }
  .login-cont {
    width: 100%;
    padding: 50px 0;
    margin: 0;
  }
  .forma {
    width: 90%;
    margin: 0 auto;
    padding: 50px 5px;
    max-height: 500px
  
  }
  .form-label{
    text-align: left;
  }
  .mb-3 {
    width: 100%;
    padding: 10px;
    margin: 0 auto;
    text-align: left;
  }

  /* Cartcomponent */
  .allOfCart {
    display: block;
  }
  .cart-item {
    display: block;
  }
  .cart-product {
    display: block;
  }
  .part1 {
    width: 90%;
    margin: 20px auto;
    padding: 0;
  }
  .remove-btn {
    width: 30%;
    margin: 0 auto;
    padding: 20px 10px;
  }
  .logout-btn {
    align-items: center;
  }
  .cartEmpty {
    width: 90%;
    margin: 10px auto;
    text-align: center;
  }
  .start-shopping {
    width: 100%;
    font-size: 18px;
    margin: 20px auto;
  }

  .btnSingleProduct {
    width: 100%;
    margin: 0 auto;
    display: block;
  }
}
